*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body{
  background-color: #F8F8F8;
}
@font-face {
  font-family: Dahlia ;
  src: url(../src/assets/fonts/Dahlia\ Regictik.ttf);
}
@font-face {
  font-family: Nunito;
  src: url(../src/assets/fonts/Nunito-VariableFont_wght.ttf);
}